body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

/* li {
  list-style: none;
} */
